@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        height: 100%;
        font-family: "Nunito Sans";
        @apply dark:bg-very-dark-blue-bg bg-very-light-gray;
    }
    h3{
        font-size: 1.1rem;
        font-weight: 700;
        cursor: default;
    }
    span{
        font-weight: 600;
    }
}

.roleFilter{
    transform-origin: top;
    animation: rotate 1s 1;
}
.toggleButton{
    animation-duration: 0.5s;
    animation-timing-function: 1;
    animation-fill-mode: forwards;
}
.toggleBg{
    animation-timing-function: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes rotate{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

@keyframes activeShowAll {
    from{
        transform: translateX(0);
        color: black;
        background-color: rgb(226,232,240);
    }
    to{
        transform: translateX(100%);
        color: rgb(3, 3, 199);
        background-color: rgb(13, 153, 13);
    }
}

@keyframes desactiveShowAll {
    from{
        transform: translateX(100%);
        color: rgb(3, 3, 199);
        background-color: rgb(13, 153, 13);
    }
    to{
        transform: translateX(0);
        color: black;
        background-color: rgb(226,232,240);
    } 
}

@keyframes activeBg {
    from{
        width: 50%;
    }
    to{
        width: 100%;
    }
}

@keyframes desactiveBg {
    from{
        width: 100%;
    }
    to{
        width: 50%;
    }
}