@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        height: 100vh;
        font-family: "Nunito Sans";
    }
    h3{
        font-size: 1.1rem;
        font-weight: 700;
    }
}

.roleFilter{
    transform-origin: top;
    animation: rotate 1s 1;
}

.showAllButton{
    background-color: green;
}
.showAllButton span{
    right: 0;
    color: rgb(5, 5, 142);
    background-color: rgba(7, 114, 7, 0.81);
}

@keyframes rotate{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}